[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
djangorestframework = "*"
pytest-watch = "==2.0.0"
mysqlclient = "*"
celery = "*"
requests = "*"
redis = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
